# MAPS statistics
A notebook to tidy the MAPS statistics for plotting

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Imports
import pandas as pd

from src import constants as C
from src.statistics_for_plots import utils

In [3]:
# Read the data
maps = pd.read_csv(C.MAPS, sep="\t", usecols=["csq", "maps", "ci95"]).replace({"distal_nmd":"distal"})
maps

                  csq      maps      ci95
0              distal  0.094944  0.003097
1           long_exon  0.157934  0.006023
2    missense_variant  0.036002  0.000282
3          nmd_target  0.146292  0.001946
4      start_proximal  0.109775  0.004881
5         stop_gained  0.131166  0.001512
6  synonymous_variant  0.007445  0.000417

In [4]:
# Sort and relabel the data
maps = utils.sort_region_column(maps, column="csq", categories=C.MAPS_CONSEQUENCES, labels=C.MAPS_LABELS)
maps

                            csq      maps      ci95
6                    Synonymous  0.007445  0.000417
2                      Missense  0.036002  0.000282
5  Nonsense\n(whole transcript)  0.131166  0.001512
3        Nonsense\n(NMD target)  0.146292  0.001946
4    Nonsense\n(start proximal)  0.109775  0.004881
1         Nonsense\n(long exon)  0.157934  0.006023
0            Nonsense\n(distal)  0.094944  0.003097

In [5]:
# Write to output
maps.to_csv(C.STATS_MAPS, sep="\t", index=False)